{% extends "base.html" %}
 
{% block content  %}
<title>Насколько вы экологичны?</title>

<form action="" method="post"  novalidate>
	{{ form.hidden_tag() }}
	
	<table align="center" cellspacing="0">
		
	{% for subfield in form.first %}
	<div class="inputGroup">
	    <tr>
			<td style="padding-left: 250px;" >{{ subfield }}</td>
	        <td ><span class="navtext">{{ subfield.label }}</span></td>
	    </tr>
    </div>
	{% endfor %}
	
	</table>
	<p>{{ form.submit() }}</p>
	
	
</form>


{% endblock %}

