{% extends "base.html" %}

{% block content  %}

    <div align="center" class="navtext">Hello {{user.username}}</div>
    {% if current_user.ecological == None %}
    <div align="center" class="navtext">You have no current environmental friendliness</div>
    {% else %}
    {% if current_user.ecological > 50 %}
    <div align="center" class="navtext">You current environmental friendliness:</div>    
        <div class="parent"><div align="center">
                <div class="clearfix">
                    <div class="c100 p{{current_user.ecological}} big green">
                        <span>{{current_user.ecological}}</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div align="center" class="navtext">You current environmental friendliness:</div>    
        <div class="parent"><div align="center">
                <div class="clearfix">
                    <div class="c100 p{{current_user.ecological}} big dark">
                        <span>{{current_user.ecological}}</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
</body>


{% endblock %}